# Stripe
STRIPE_SECRET_KEY=sk_test_...
STRIPE_PUBLISHABLE_KEY=pk_test_...

# Cloudinary (for Media Storage)
CLOUDINARY_CLOUD_NAME=...
CLOUDINARY_API_KEY=...
CLOUDINARY_API_SECRET=...

# Django Settings
SECRET_KEY=...
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Email Configuration
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=johnsantonyjo@gmail.com
EMAIL_HOST_PASSWORD=rbft btfs vyxa lnf
DEFAULT_FROM_EMAIL=EMAIL_HOST_USER
SITE_URL=http://localhost:8000
CURRENCY=AED

# --- Database & Supabase ---
# Replace with your Supabase Connection String (Project Settings > Database > Connection string > URI)
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.[YOUR-PROJECT-REF].supabase.co:5432/postgres

# For Supabase Python SDK (Project Settings > API)
SUPABASE_URL=https://[YOUR-PROJECT-REF].supabase.co
SUPABASE_KEY=[YOUR-ANON-PUBLIC-KEY]
